.btn {
	text-align: center;
	background-color: var(--main-color-2);
	border-radius: .25rem;
	color: var(--main-text-color);
	border: 1px solid transparent;
	padding: .375rem .75rem;
	height: 35px;
	transition: background-color .2s, filter .2s, transform .1s;
}

.btn:not(:disabled):hover {
	cursor: pointer;
}

.btn:not(:disabled):not(.danger):not(.confirm):hover {
	background-color: #56595e;
}

.btn.danger:not(:disabled):hover,
.btn.confirm:not(:disabled):hover {
	filter: brightness(1.1);
}

.btn:disabled {
	filter: saturate(.7) brightness(.8);
}

.btn:active {
	transform: scale(0.95);
}

.btn.danger {
	background-color: rgb(190, 25, 25);
}

.btn.confirm {
	background-color: rgb(25, 140, 25);
}
