.footer {
	width: 100%;
	height: 24px;
	background-color: #343538;
	position: fixed;
	bottom: 0;
	color: #7e7e7e;
	font-size: small;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
}

.footer .f-left {
	text-align: left;
	padding: 0 .5rem;
}

.footer .f-right {
	display: flex;
	align-items: center;
	padding: 0 .5rem;
}

.footer .f-right a, .footer .f-right div {
	padding-left: .5rem;
	color: #7e7e7e;
}

.footer .impressum {
	padding-bottom: 2px;
}

.footer img.github {
	padding-top: 4px;
}

.footer img.contact {
	padding-top: 2px;
}

.footer img {
	transition: filter 75ms linear;
	transition: transform 75ms linear;
}

.footer img:hover {
	filter: brightness(.8);
	transform: scale(1.1);
}
