.game {
	display: flex;
	align-items: stretch;
	text-align: left;
	padding: 4px 3px;
}

.game a, .game .game-info, .game .match-info {
	background-color: var(--main-color-0);
	padding: 7px 0;
}

.game a {
	display: flex;
	align-items: center;
	border-radius: 5px 0 0 5px;
	padding-left: 8px;
}

.game .game-info {
	width: 100%;
	border-radius: 0 5px 5px 0;
	padding-right: 8px;
	padding-left: 5px;
}

.game .game-info.no-br {
	border-radius: 0;
	padding-right: 2px;
}

.game a img {
	border-radius: 5px;
}

.game .title {
	font-size: medium;
}

.game .game-info .playtime {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: small;
}

.game .match-info {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: flex-end;
	border-radius: 0 5px 5px 0;
	padding-right: 8px;
	font-size: small;
}

.game .match-info .weight {
	color: var(--text-color-gray);
	bottom: 0;
}

.owner {
	border-radius: 8px;
	margin: 0 0 0 2px;
	transition: transform .5s ease, border-radius .5s ease;
}

.owner:hover {
	transform: scale(2);
	border-radius: 3px;
}
