/* =========
  Variables
============ */

:root {
  --main-color-0: #343538;
  --main-color-1: #282c34;
  --main-color-2: #4a4c50;
  --main-color-3: #777;
  --main-text-color: #fff;
  --text-color-gray: #7e7e7e;
  --content-width: clamp(30vw, 500px, 100vw);
  --font-size-small: min(calc(10px + .6vmin), 14px);
  --font-size-x-small: min(calc(9.5px + .4vmin), 13px);
}

/* ==========
  Typography
============= */

@font-face {
  font-family: SpaceGrotesk;
  font-weight: 300;
  src: url(./../static/fonts/SpaceGrotesk-Light.otf);
}

@font-face {
  font-family: SpaceGrotesk;
  font-weight: 700;
  src: url(./../static/fonts/SpaceGrotesk-Bold.otf);
}

body, button, input {
  font-family: SpaceGrotesk;
}

body, button, input {
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 700;
}

h1 {
  font-size: min(calc(18px + 1.5vmin), 32px);
}

h2 {
  font-size: min(calc(16px + 1vmin), 22px);
}

h3 {
  font-size: min(calc(14px + .5vmin), 18px);
}

body {
  font-size: min(calc(13px + .35vmin), 16px);
}

a {
  color: #61dafb;
}

/* ======
  Layout
========= */

body {
  margin: 0;
}
