:root {
  --main-color-0: #343538;
  --main-color-1: #282c34;
  --main-color-2: #4a4c50;
  --main-color-3: #777;
  --main-text-color: #fff;
  --text-color-gray: #7e7e7e;
  --content-width: max(30vw, 500px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
